<html>
<head>
<script src="ext/yaml.js"></script>
<script src="ext/jquery-3.5.1.min.js"></script>
<script src="ext/vue.js"></script>
<script src="main.js" type="module"></script>

<link href="main.css" rel="stylesheet" />
</head>
<body>

<div id="global"></div>

<div id="toc">

</div>

<div id="content">
</div>

<div id="template" style="display:none">

    <div v-on:click="collapsed=!collapsed" style="border: 1px solid black; background-color:#CCCCFF; padding:0.5em">
        <strong>{{ name }}</strong> <span>{{ humanName }}</span></h2>
    </div>

    <table v-show="!collapsed">
        <tr v-for="(bitDef, bitDef_i) in bits">
            <td style="width: 3em;">{{ bitDef.bit }}</td>
            <td
                style="width: 10em"
                v-if="bitDef.groupSpan!=-1" v-bind:rowspan="bitDef.groupSpan>1?bitDef.groupSpan:null"
                v-bind:class="{ negativeLogic: groupNegativeLogicByName[bitDef.withinGroup] }"
            >{{ bitDef.withinGroup }}</td>
            <td
                style="width: 3em;cursor:default"
                v-on:click="toggleBit(bitDef_i)"
                class="bit"
                v-bind:class="{ bit1: values[bitDef_i]==1 }"
            >{{ values[bitDef_i] }}</td>
            <td v-if="bitDef.groupSpan!=-1" v-bind:rowspan="bitDef.groupSpan>1?bitDef.groupSpan:null" style="text-align: left; padding-left:1em; padding-right:1em">
                <strong v-if="groupHumanNameByName[bitDef.withinGroup]">{{ groupHumanNameByName[bitDef.withinGroup] }}<br /></strong>
                {{ groupValues[bitDef.withinGroup] }} - {{ groupCurrentDescriptions[bitDef.withinGroup] }} 
            </td>
        </tr>
    </table>

    <br />

</div>

</body>
</html>
