@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#toc{
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 80%;
    background: #000033;
    color: #FFFFFF;
    padding-top: 1em;
    padding-left: 0.5em;
}
#toc h2{ text-align: center }
#toc ul{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0.5em;
}
#toc a{
    color: white;
    text-decoration: none;
}
#toc a:hover{
    text-decoration: underline;
}
#content{
    position: absolute;
    left:20%;
    padding-left: 1em;
}

textarea.code{
    resize:none;width:100%; height:2em; font-size: 1em; border:none;
    text-align:right;
    color: #008000;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

#cluster-options{
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    display: flex;
}
#cluster-options .dialog{
    background: #EEE;
    width: 50%;
    height: 50%;
    margin: auto;
    position: relative;
    padding: 2em;
    border-radius: 10px;
}
#cluster-options .scrollable{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}




body,table,tr,td{
    font-size: 9pt;
}
table,tr,td{
    border: 1px solid #999;
    border-collapse: collapse;
    text-align: center;
}
table{
    width: 100%;
}
.negativeLogic{
    text-decoration: overline;
}
td.bit{
    background-color: #0000EE;
    color: white;
}
td.bit.bit1{
    background-color: #EE0000;
    color: white;
}

.clusterName{
    font-family: 'Roboto Mono', monospace;
}
