
#toc{
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 80%;
    background: #000033;
    color: #FFFFFF;
    padding-top: 1em;
    padding-left: 0.5em;
}
#toc h2{ text-align: center }
#toc ul{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0.5em;
}
#toc a{
    color: white;
    text-decoration: none;
}
#toc a:hover{
    text-decoration: underline;
}
#content{
    position: absolute;
    left:20%;
    padding-left: 1em;
}


body,table,tr,td{
    font-size: 9pt;
}
table,tr,td{
    border: 1px solid #999;
    border-collapse: collapse;
    text-align: center;
}
table{
    width: 100%;
}
.negativeLogic{
    text-decoration: overline;
}
td.bit{
    background-color: #0000EE;
    color: white;
}
td.bit.bit1{
    background-color: #EE0000;
    color: white;
}
